<html lang="en">

  <head>
    <title>Sognare</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel='stylesheet'>
    <link href="/stylesheets/sognare.css" rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  <form id="logout" action='/logout' method='POST'>
  <header class="bs-docs-nav navbar navbar-static-top" id="top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Sognare</a>
      </div>
      <nav class="collapse navbar-collapse" id="bs-navbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/home">HOME</a>
          </li>
          <li>
            <a href="/blog">BLOG</a>
          </li>
          <li>
            <a href="./about">ABOUT</a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
              <a href="#" onclick="document.getElementById('logout').submit()" >Logout</a>

          </li>
          <li>
            <a href="/register">Sign Up Now</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">S</span>
        <p>Sign up to our Blog.</p>
        <p>Our passion for exceptional online experiences doesn’t stop here. Sign-up to join us.</p>
      </div>
    </div>
  </form>


  <div class="posts-search__input-container" style="width: 80%; margin-left: 10px">
    <input type="text" placeholder="Search Our Blog" class="field posts-search__input" />
  </div>

  <div class="container" style="margin-top: 30px">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img alt="100%x200" data-src="holder.js/100%x200" src="/images/sample01.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img alt="100%x200" data-src="holder.js/100%x200" src="/images/sample02.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">	<div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img alt="100%x200" data-src="holder.js/100%x200" src="/images/sample03.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Button</a>
              <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="section-footer">
    <button data-list-info="{}" class="button--circle posts__more js-load-more">
      <span>Load<br>More</span>
    </button>
  </div>


  <div class="footer">
    <div class="footer-container">
      <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
      <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
      </span>
    </div>
  </div>

  </body>

</html>